.signup-dark {
  height: 100vh;
  background: url(../../assets/img/background5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.signup-dark form {
  width: 80%;
  padding: 40px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.2);
}



.signup-dark .illustration {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 100px;
  color: white;
}

.signup-dark form .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #434a52;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
}

.signup-dark form .btn-primary {
  background: #214a80;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none;
}

.signup-dark form .btn-primary:hover, .signup-dark form .btn-primary:active {
  background: #214a80;
  outline: none;
}

.signup-dark form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.signup-dark form .forgot:hover, .signup-dark form .forgot:active {
  opacity: 1;
  text-decoration: none;
}

.signup-dark form .btn-primary:active {
  transform: translateY(1px);
}

.foot{
  content: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 70%;
  position: relative;
  left: 28%;
  margin-top: 20px
}

